/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	/* font-family: 'Titillium Web', sans-serif; */
	font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	/* border: 1px solid red; */
	position:absolute;
	width:876px;
	/* width:90%; */
	margin:40px 0 20px 40px;
}

header {
	border-bottom: 1px dashed black;
	background-color:white;
	display:block;
	/* position: relative; */
	position:fixed;
	width:876px;
	height:43px;
	overflow:hidden;
	top:0;
	left:40px;
	z-index:1;
	/* width:100%; */
}

header nav {
	/* border:1px solid red; */
	display: inline-block;
	position:absolute;
	width:684px;
	top:10px;
}

a {
	/* font-family: 'Titillium Web', sans-serif; */
	font-family: 'Oswald', sans-serif;
	color:grey;
	text-decoration:none;
	margin: 30px;
}

a:hover {
	color:black;
}

.logo {
	/* border:1px solid red; */
	display: inline-block;
	position:relative;
	width:183px;
	left:79%;
	margin:0 auto;
}

.splash {
	/* border: 3px dashed cyan; */
	display:block;
	position:relative;
	width:876px;
	height: 450px;
	margin-bottom:40px;
}

div .iod {
	/* border:1px solid red; */
	display:inline-block;
	position:absolute;
	width:49%;
	top:23%;
}

div .circle {
	/* border: 1px solid red; */
	display:inline-block;
	position:absolute;
	width: 50%;
	left: 50%;
	margin-top:50px;
	text-align:right;
}

.top-content {
	border-top: 1px solid black;
	padding-top:40px;
}

.bottom-content {
	border-bottom: 1px solid black;
	padding-bottom:40px;
}

footer {
	margin-top:40px;
}

.copyright {
	text-align: center;
}

h1 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	font-size:80px;
	text-align:center;
	margin-bottom: 15px;
}

.middle-img {
	padding-top:40px;
	padding-bottom:40px;
}

.features, .about {
	/* border:1px solid black; */
	display:inline-block;
	width:435px;
 	text-align:left;
}

.services, .product, .vision {
	/* border:1px solid black; */
	display:inline-block;
	width:288px;
  	text-align:left;
}

.copyright {
	font-size:10px;
	padding-top:80px;
}

@keyframes button {
	0%   {background-color:orange;}
	25%  {border-color:red;}
	50%  {border-color:black;}
	75%  {border-color:yellow;}
	100% {border-color:red;}
  }

  button {
	border:1px solid black;
	display:block;
	font-size:13px;
	font-family: 'Oswald', sans-serif;
	color:black;
	text-decoration:none;
	padding: 0 25px;
	margin: 0 auto;

	animation-name: button;
	animation-duration: 3s;
	animation-iteration-count: 2;
	animation-direction: alternate-reverse;
}